<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=292px, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <style type="text/css">
            body {
                margin : 0;
                padding : 0;
            }

            p {
                margin-left: 25px;
                margin-right: 20px;
                font-size: 14px;
            }

            .title {
                color:gray;
                font-size: 16px;
                text-align: center;
            }

            .content {
                color:gray;
            }
        </style>
    </head>

    <body>
        <p class="title">科室擅长</p>
        <p class="content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            放射科兼顾儿科放射学及成人放射学，儿科放射学在上海乃至全国处领先地位，科室连续7年举办儿科影像国家级继续教育学习班，现科室负责人李玉华教授为上海市放射学会委员，上海市放射学会妇儿学组组长。五官影像、产科胎儿ＭＲＩ以及儿童介入等也各具特色。
        </p>
        <p class="content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            科室现有在编人员65人，其中主任医师5名、副主任医师8名，具有博士学历5名、硕士学历9名，博士生导师1名、硕士生导师3名，6名医生有国外学习经历。科室除了完成日常繁忙的业务工作，每年还承担医学院本科及7年制等医学影像学教学任务，每年在期刊源杂志发表学术论文20多篇。
        </p>
        <p class="content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            科室设备先进，拥有国际先进的上海第一台64排双源CT１台，16排螺旋CT１台，1.5T双梯度场磁共振1台，3.0T磁共振１台装机、血管造影机３台，其中２台为平板机，数字胃肠机２台，DR摄片机４台，其中１台为双板，CR摄片机４台，乳腺机1台。
        </p>
    </body>
</html>